[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyautogui = "*"
pillow = "*"
autopep8 = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
main = "pipenv run python main.py"
