[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyautogui = "*"
pillow = "*"
autopep8 = "*"
python3-pip-autoremove = "*"
black = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
main = "python main.py"
format = "pipenv run black *.py"
