[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyautogui = "*"
pillow = "*"
black = "*"
keyboard = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
main = "python main.py"
format = "pipenv run black *.py funcs/*.py --line-length=90"
